<ul>
    {{#config}}
        config is present.
        {{#nav}}
            {{.}}
            <li><a href="{{path}}.html">{{display}}</a></li>
        {{/nav}}
        {{^nav}}
            No nav
        {{/nav}}
    {{/config}}
    
    {{^config}}no config{{/config}}
</ul>

